body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 10px;
  z-index: 1;
}

header {
  position: relative;
  padding: 10px 30px;
  z-index: 1;
}

.header-section {
  font-family: 'roboto';
  font-size: 64px;
  font-weight: 700;
  margin-left: 60px;
}

.projects .my-work {
  font-family: 'roboto';
  font-size: 64px;
  font-weight: 700;
  text-align: right;
  margin-right: 80px;
  margin-bottom: 100px;
}

@media screen and (max-width: 834px) {
  .header-section {
    text-align: center;
    font-size: 48px;
    margin-left: 0px;
  }
  .projects .my-work {
    text-align: center;
    font-size: 48px;
    margin-right: 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

}

/* landing */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.K {
  font-family: 'sarina';
  font-weight: 700;
  font-size: 32px;
  margin-left: 30px;
  color: #222222;
}

.main-menu ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin-right: 30px;
  letter-spacing: -0.5px;
}

.main-menu li {
  text-decoration: none;
  margin-right: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  letter-spacing: 0.7px;
}

.main-menu li a {
  text-decoration: none;
  color: #222222;
  transition: color 0.5s ease;
}

.main-menu {
  display: flex;
  text-decoration: none; 
  list-style: none;
}

.main-menu a:hover {
  color: #B8B8B8;
  transition: color 0.7s ease;
}

.mobile-menu {
  display: none; 
}

.mobile-menu .menu-wrapper {
  display: none;
}

/*mobile menu*/
@media only screen and (max-width: 840px) {
  .logo {
    margin-top: 20px;
  }

  .mobile-menu {
    display: flex; 
    
  }

  .main-menu {
    display: none;
  }

  .header-container {
    position: relative;
    margin-left: -20px;
  }

  .mobile-menu.show-menu .menu-wrapper {
    display: block;
  }

  .menu-toggle {
    position: absolute; 
  }

  .menu-toggle .fas.fa-bars {
    font-size: 26px;
    color: black;
  }

  .menu-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    justify-content: center;
    z-index: 1;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 40px; 
  }

  .menu li {
    font-family: 'roboto';
    font-weight: 600;
    font-size: 34px;
    color: white;
    padding: 10px;
    list-style-type: none;
    transition: opacity 0.5s;
  }

  .menu li a {
    text-decoration: none;
    color: white;
  }

  .menu li a:hover {
    font-style: italic; 
  }

}

h4 {
  color: #222222;
  font-family: 'roboto';
  font-size: 18px;
}

h1 {
  color: #222222;
  font-family: 'roboto';
  font-size: 84px;
}

h3 {
  color: #222222;
  font-family: 'roboto';
  font-size: 34px;
}

.alt {
  color: #B8B8B8;
  font-size: 18px;
}

.intro-sentence {
  color: #B8B8B8;
  font-family: 'roboto';
  font-size: 18px;
  max-width: 600px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

button {
  font-family: 'roboto';
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;
  background-color: #222222;
  color: #FFFFFF;
  border: 2px solid #222222;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: transparent; 
  border: 2px solid #222222;
  color: #222222; 
}

.webgl {
  position: relative;
  margin-top: -180px;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  margin-bottom: 150px;
}

.intro-statement {
  margin-right: 30px;
}

.intro-statement-2 {
  margin-left: 20px;
  margin-top: 80px; 
}

h4, h1 {
  margin: 0; 
}

h3, h4, p {
  margin: 5px; 
}

@media (max-width: 768px) {
  .webgl {
    margin-bottom: 32px;
  }

  .intro-container {
    display: flex;
    flex-direction: column; 
  }

  .intro-statement {
    margin: 0;
  }

  .intro-statement-2 {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .webgl {
    margin-top: -120px;
  }

  .intro-statement {
    margin-top: 90px;
  }

  .intro-statement h1 {
    font-size: 52px;
  }

}

/* about */
.about {
  margin-bottom: 70px;
}

.about-statement {
  display: flex;
  justify-content: center;
  font-family: 'Nunito Sans';
  font-weight: 500;
  font-size: 20px;
  flex-wrap: wrap;
}

.about-statement p {
  max-width: 700px; 
  margin: 0 auto;
  line-height: 1.5;
  margin: 20px;
  flex: 1;
}

.about-statement p br {
  display: block;
  content: ''; 
  margin-bottom: 20px; 
}

@media (max-width: 768px) {
  .about-statement p {
    flex-basis: 100%;
  }
}

/* projects */
.projects {
  margin-bottom: 70px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card {
  width: 700px;
  height: 400px;
  position: relative;
}

.project-card img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}

.project-card a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.project-card a:hover::after {
  opacity: 1;
}

.project-card a {
  display: block;
  width: 700px;
  height: 400px;
  position: relative;
}

.project-card a:hover::after {
  opacity: 0.7;
}

.project-card a:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

/* contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.contact-header {
  font-family: 'roboto';
  font-size: 48px;
  letter-spacing: 1px;
  padding: 10px;
}

.contact-subheader {
  font-family: 'nunito';
  font-weight: 400;
  font-size: 22px;
  margin-top: -10px;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: 'nunito';
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-container input {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px; 
  padding: 10px;
}

.input-container input::placeholder {
  color: #999;
}
.input-container::after {
  content: '';
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}

.input-container textarea {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
  border: none; 
  border-radius: 4px;
  outline: none;
  font-size: 16px; 
  padding: 10px; 
  color: #999;
  font-family: 'roboto';
}

.input-container textarea::placeholder {
  color: #999;
}

.contact-button {
  width: 250px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  font-family: 'roboto';
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
  background-color: #000;
  color: #FFFFFF;
}


/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'nunito';
  background-color: #000;
  color: #FFFFFF;
}

.logo-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.K-1 {
  font-family: 'sarina';
  font-weight: 700;
  font-size: 60px;
}

.line-1 {
  height: 80px;
  border-left: 5px solid #FFFFFF;
  padding: 10px;
  border-radius: 2px;
}

.name-1 {
  font-family: 'titan one';
  font-size: 25px;
}

.footer-sub-header {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

.socials ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials li {
  margin: 0 5px; 
}

.socials a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 28px;
}

.socials span {
  display: inline-block;
  padding: 10px;
  background-color: #222222; 
  border-radius: 5%;
  transition: filter 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.socials i {
  font-size: 24px; 
}

.socials span:hover {
  filter: brightness(100%); 
}

.socials:hover span:not(:hover) {
  filter: brightness(50%); 
}

.copyright {
  color: #B8B8B8;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: 'roboto';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
}

.to-top {
  background: #f6f5f4;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

.landing , .about , .projects {
  margin-bottom: 100px;
}

.contact {
  margin-bottom: 150px;
}

.header-section {
  margin-bottom: 100px;
}

.circle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.blur-circle {
  position: absolute; 
  border-radius: 50%;
  filter: blur(120px); 
}

.blur-circle:nth-child(1) {
  background-color: #CFFFF0; 
  width: 500px; 
  height: 500px;
  top: 20%;
  left: 25%;
}

.blur-circle:nth-child(2) {
  background-color: #EACDFF; 
  width: 500px; 
  height: 500px;
  top: 10%;
  left: 50%;
}

.blur-circle:nth-child(3) {
  background-color: #F1D699; 
  width: 400px; 
  height: 400px;
  top: 40%;
  left: 40%;
}


